{% extends 'AppBundle::base.html.twig' %}

{% block body %}

    <div id="form-div" style="width: 800px; margin:auto; padding:10px;">
        <form action="{{ path('user_new') }}" method="post" {{ form_enctype(form) }}>

            <div id="errores_form" class="error">
                {{ form_errors(form) }}
            </div>

            <div id="formcontent">
                <table style="border-collapse:separate; border-spacing:1em;">
                    <tr>
                        <td>{{ form_label(form.username) }}</td>
                        <td>{{ form_widget(form.username) }}</td>
                        <td class="error">{{ form_errors(form.username) }}</td>
                    </tr>
                    <tr>
                        <td>{{ form_label(form.email) }}</td>
                        <td>{{ form_widget(form.email) }}</td>
                        <td class="error">{{ form_errors(form.email) }}</td>
                    </tr>
                    <tr></tr>
                    <tr>{{ form_rest(form) }}</tr>
                    <tr>
                        <td></td><td><input type="submit" formnovalidate /></td>
                    <tr>

                </table>
            </div>

            <br />
        </form>
    </div>

{% endblock %}